<html>
    <head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/home.css">
    </head>
    <body style="margin:0">
        <div id="root">
            <header class="mdc-top-app-bar">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span class="mdc-top-app-bar__title">Every day we shuffling</span> </section>
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    </section>
                </div>

                <!-- <div class="title">
                    <h1>Everyday we shuffling</h1>
                </div>
                <div class="account">
                    <div class="signed-in" v-if="!!user">
                        <span>Hello {{user.name}}</span>
                    </div>
                    <div class="empty" v-else>
                        <button class="mdc-button" v-on:click="signIn">Sign in</button>
                    </div>
                </div> -->
            </header>
            <div class="mdc-top-app-bar--fixed-adjust">
                <section class="welcome">
                    <div>
                        <h2>Hello world</h2>
                        <div>Some explaination text on how this all fits
                            together</div>
                    </div>
                </section>
                <section class="game">
                    <button class="mdc-button" v-on:click="shuffle">Shuffle</button>
                    <ul>
                        <li v-for="card in cards">
                            {{ card.suite }} {{ card.value }}
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./home.js"></script>
    </body>

</html>